<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Kyle Tress">
    <title><%= current_page.data.title %> - Kyle Tress</title>
    <%= google_analytics_tag if build? %>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <div class="grid">
      <%= partial 'partials/header' %>
      <main class="container">
        <%= yield %>
      </main>
      <%= partial 'partials/footer' %>
    </div>
  </body>
</html>
